@media only screen and (max-width: 440px) { 

div.wrapp {
	width: 100%;
}

header.s001 {

	div.header-logo {
		float: none;
		text-align: center;
		

	}

	div.header-contact {
		float: none;
		margin: 0 auto;
		ul {
			text-align: center;
		}
	}
}


section.s002 {
	h1 {
		padding-top: $pad*3;
		font-size: 2.5em;
	}
}

section.s003 {
	div.gor-form {
		form {
			text-align: center;
			input {
				//display: block;
			    margin-bottom: $mar;
			    margin-right: 0;
			}
			input[type="submit"] {
				margin: 0 auto;
			}
		}
	}

}

section.s004 {

	ul {
		li {
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: $mar*3;

		}
	}
}


section.s005 {
	div.s005-left {
		float: none;
		width: auto;
	}

	div.ver-form {
		width: auto;
		float: none;
		padding: $pad;
		margin-top: $mar*2;
		text-align: center;
		form {
			input {
				display: inline-block;
				margin-right: 0;
			}

		}
	}
}


section.s006 {

	ul {
		li {
			display: block;
			float: none;
			margin-right: 0;
			margin-bottom: $mar*2;
			width: auto;


			h3 {
				padding: $pad;
				border-bottom: 2px solid #E91E63;
			}
			p {
				padding: $pad;
			}

		}
	}
}

section.s007 {
	ul {
		li {
			margin-bottom: $mar;
			padding: $pad*2;

			img {
				width: 70px;
				height: 70px;
				margin-right: $mar;
			}
		}
	}
}

section.s008 {
	p {
		padding: $pad;
	}
}

section.s009 {
	ol {
		list-style: auto;
		text-align: center;
		div {
			width: auto;
			float: none;
			margin-left: $mar*2;
		}
		div.s009-left {
			margin-right: 0;
		}

		li {
			vertical-align: top;
			margin-bottom: $mar*2;
		}
	}
}

section.s010 {
	div.s010-left {
		width: auto;
		float: none;

		button {
			width: 250px;
			height: 70px;
			margin: $mar*2 auto 0;
		}
	}

	div.s010-right {
		float: none;
		margin-top: $mar*2;
		img {
			width: 300px;
			height: 300px;
			display: block;
			margin: 0 auto;
		}
	}

}


section.s011 {

	ul {
		li {
			display: block;
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: $mar*2;

			img {
				width: 240px;
				height: 240px;
			}

			h3 {
				padding: $pad;
				border-bottom: 2px solid #E91E63;
			}
			p {
				padding: $pad;
			}

			button {
				width: 200px;
				height: 50px;
				display: block;
				background: #E91C63;
				border-color: #607D8B;
				margin: 0 auto;
				margin-bottom: -20px;
				
			}

		}
	}
}


section.s012 {

	div.s012-left {

		float: none;
		margin-bottom: $mar*2;

		img {
			width: 250px;
			height: 250px;
			display: block;
			margin: 0 auto;		
		}
	}

	div.s012-right {
		width: auto;
		float: none;
		h2 {
			font-size: 2.3em;
			text-align: center;
		}		
	}
}


section.s013 {

	div.slider {
		ul {
			li {
				text-align: center;
				img {
					width: 250px;
					height: 250px;
				}
			}
		}
	}
}

section.s014 {
	ul {
		li {
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: $mar*2;

		}
	}
}

footer {
	ul.footer-list {
		padding: $pad*3 0;
		text-align: center;
		li {
			display: block;
			float: none;
			width: auto;
			margin-right: 0;
		}
		> li {			
			margin-bottom: $mar;
			padding-bottom: $mar;
			border-bottom: 2px solid #CDDC39;
		}

	}
}
} //media end