html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }

html, body { height: 100%; }

/*
*      @include clearfix();
*/
ul { list-style: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; text-align: center; }

body { background: #9E9E9E; }

div.wrapp { width: 960px; margin: 0 auto; }

section { min-height: 300px; padding: 30px; }
section:after { content: " "; display: block; clear: both; }
section h2 { margin-bottom: 45px; }

button { cursor: pointer; }

header.s001 { background: #CDDC39; padding: 15px; }
header.s001:after { content: " "; display: block; clear: both; }
header.s001 div.header-logo { float: left; }
header.s001 div.header-logo img { width: 200px; height: 70px; }
header.s001 div.header-contact { float: right; }

section.s002 { background: #FFC107; }
section.s002 h1 { padding-top: 75px; font-size: 4em; }

section.s003 { background: #00BCD4; }
section.s003 div.gor-form { border: 2px solid #E91E63; background: #8BC349; padding: 15px; }
section.s003 div.gor-form form { text-align: center; }
section.s003 div.gor-form form input { vertical-align: middle; width: 220px; height: 30px; font: 1.1em Arial, sans-serif; padding: 5px 15px; border: 2px solid #E91E63; margin-right: 30px; }
section.s003 div.gor-form form input:focus { outline: none; }
section.s003 div.gor-form form button { width: 200px; height: 50px; }

section.s004 { background: #4CAF50; }
section.s004 ul li { float: left; width: 250px; margin-right: 105px; margin-bottom: 45px; border: 2px solid #E91E63; box-sizing: border-box; }
section.s004 ul li:nth-child(3), section.s004 ul li:nth-child(6) { margin-right: 0; }
section.s004 ul li h3 { background: #4CAF50; width: 150px; margin: -15px auto 0; }
section.s004 ul li p { padding: 15px; }

section.s005 div.s005-left { float: left; width: 450px; }
section.s005 div.ver-form { width: 250px; float: right; border: 2px solid #E91E63; background: #8BC349; padding: 45px; }
section.s005 div.ver-form form h3 { margin-bottom: 30px; }
section.s005 div.ver-form form input { display: block; margin-bottom: 30px; width: 220px; height: 30px; font: 1.1em Arial, sans-serif; padding: 5px 15px; border: 2px solid #E91E63; margin-right: 30px; }
section.s005 div.ver-form form input:focus { outline: none; }
section.s005 div.ver-form form button { display: block; margin: 0 auto; width: 200px; height: 50px; }

section.s006 { background: #CDDC39; }
section.s006 ul li { display: inline-block; float: left; width: 250px; margin-right: 105px; border: 2px solid #E91E63; box-sizing: border-box; }
section.s006 ul li:nth-child(3) { margin-right: 0; }
section.s006 ul li img { width: 240px; height: 240px; }
section.s006 ul li h3 { padding: 15px; border-bottom: 2px solid #E91E63; }
section.s006 ul li p { padding: 15px; }

section.s007 { background: #00BCD4; }
section.s007 ul li { margin-bottom: 15px; padding: 30px; border-bottom: 2px solid #E91E63; }
section.s007 ul li:after { content: " "; display: block; clear: both; }
section.s007 ul li:last-child { border-bottom: 0; }
section.s007 ul li img { width: 150px; height: 150px; border-radius: 100%; float: left; margin-right: 30px; }
section.s007 ul li h3 { text-align: left; }

section.s008 p { padding: 15px 75px; }

section.s009 { background: #9C27B0; }
section.s009 ol { list-style: auto; }
section.s009 ol div { width: 400px; float: left; }
section.s009 ol div.s009-left { margin-left: 30px; margin-right: 130px; }
section.s009 ol li { vertical-align: top; margin-bottom: 15px; }

section.s010 { background: #00BCD4; }
section.s010 div.s010-left { width: 500px; float: left; }
section.s010 div.s010-left button { width: 350px; height: 70px; display: block; background: #E91C63; border-color: #607D8B; margin: 30px auto 0; }
section.s010 div.s010-right { float: right; }
section.s010 div.s010-right img { width: 300px; height: 300px; }

section.s011 { background: #CDDC39; }
section.s011 ul li { display: inline-block; float: left; width: 250px; margin-right: 105px; border: 2px solid #E91E63; box-sizing: border-box; }
section.s011 ul li:nth-child(3) { margin-right: 0; }
section.s011 ul li img { width: 240px; height: 240px; }
section.s011 ul li h3 { padding: 15px; border-bottom: 2px solid #E91E63; }
section.s011 ul li p { padding: 15px; }
section.s011 ul li button { width: 200px; height: 50px; display: block; background: #E91C63; border-color: #607D8B; margin: 0 auto; margin-bottom: -20px; }

section.s012 { background: #4051B5; }
section.s012 div.s012-left { float: left; }
section.s012 div.s012-left img { width: 300px; height: 300px; }
section.s012 div.s012-right { width: 500px; float: right; }
section.s012 div.s012-right h2 { font-size: 2.7em; text-align: left; }

section.s013 { background: #FFEB3B; }
section.s013 div.slider ul li { text-align: center; }

section.s014 { background: #4CAF50; }
section.s014 ul li { float: left; width: 250px; margin-right: 105px; margin-bottom: 45px; border: 2px solid #E91E63; box-sizing: border-box; }
section.s014 ul li:nth-child(3), section.s014 ul li:nth-child(6), section.s014 ul li:nth-child(9), section.s014 ul li:nth-child(12) { margin-right: 0; }
section.s014 ul li h3 { background: #4CAF50; width: 150px; margin: -15px auto 0; }
section.s014 ul li p { padding: 15px; }

footer { min-height: 300px; }
footer ul.footer-list { padding: 45px 0; }
footer ul.footer-list li { float: left; width: 270px; margin-right: 75px; }
footer ul.footer-list li:last-child { margin-right: 0; }

section.s000 { background: #FF5722; min-height: auto; text-align: center; }
section.s000 span { vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
